body {
	font-family:Arial,sans-serif;
	line-height:1.6;
	margin:0;
	padding:0;
	background-color:#ffffff;
	color:#333;
}
.container {
	max-width:800px;
	margin:5rem auto;
	padding:1rem;
	background:#f9f9f9;
	border:1px solid #ddd;
	border-radius:8px;
	box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.portfolio {
	background:#ffffff;
}
.portfolio-img {
	width:100%;
}
h1,h2 {
	text-align:center;
	color:#333;
	margin-bottom:-21px;
}
.pre-content {
	font-family:Arial,sans-serif;
	line-height:2.0;
	font-size:0.9em;
	margin-bottom:2rem;
	white-space:pre-line;
}
section {
	margin-bottom:2rem;
}
section h2 {
	margin-bottom:0.5rem;
	font-size:1.5rem;
	border-bottom:2px solid #ddd;
	padding-bottom:0.5rem;
}
ul {
	list-style-type:none;
	padding:0;
}
ul li {
	margin-bottom:0.5rem;
}
.contact {
	text-align:center;
	margin-top:1rem;
}
.contact a {
	color:#333;
	text-decoration:none;
}
.contact a:hover {
	text-decoration:underline;
}
#skills {
	max-width:900px;
	margin:2rem auto;
	display:grid;
	gap:0.5rem;
}
.section-title {
	font-size:1.5rem;
	font-weight:bold;
	text-align:center;
	color:#333;
	position:relative;
	margin-bottom:0.5rem;
}
.section-title::after {
	content:'';
	display:block;
	width:100%;
	height:2px;
	background-color:#ddd;
	margin:0.5rem auto 0;
}
.skills-category {
	display:grid;
	grid-template-columns:1fr 3fr;
	gap:1rem;
	align-items:flex-start;
}
.skills-category h3 {
	font-size:1rem;
	font-weight:bold;
	color:#333;
	margin: 0;
}
.skills-category ul {
	list-style-type:disc;
	padding-left:20px;
	margin:0;
	list-style-type:none;
	/* 점 제거 */
	padding-left:0;
	/* 왼쪽 여백 제거 */
	line-height:1.5;
}
.skills-category ul li {
	margin-bottom:0.5rem;
	color:#555;
	font-size:0.9rem;
}
.skills-category:last-child {
	border-bottom: none;
}
/* 우측 상단 버튼 스타일 */
#download-pdf:hover {
	background-color:#d39e00;
}
.indented-line-depth1 {
	padding-left:15px;
	/* 추가 들여쓰기 */
}
.indented-line-depth2 {
	padding-left: 30px;
	/* 추가 들여쓰기 */
}
/* 메뉴바 스타일 */
.navbar-container {
	display:flex;
	justify-content:center;
	/* 가운데 정렬 */
	position:fixed;
	top:0;
	width:100%;
	z-index:1000;
	background-color:#ffffff;
	/* 전체 배경색 */
}
.navbar {
	background-color:#343a40;
	color:white;
	width:80%;
	/* .container와 동일한 너비 */
	max-width:800px;
	/* 최대 너비 설정 */
	padding:10px 20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-top:15px;
	border-radius:8px;
	/* 모서리를 둥글게 */
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
.navbar a {
	color:white;
	text-decoration:none;
	margin-right:20px;
	font-size:16px;
	font-weight:bold;
}
.navbar a:hover {
	text-decoration:underline;
}
.navbar .buttons {
	display:flex;
	align-items:center;
}
.navbar button {
	background-color:#ffc107;
	color:white;
	border:none;
	padding:8px 15px;
	font-size:14px;
	cursor:pointer;
	border-radius:5px;
	margin-left:10px;
}
/* 페이지 내용 상단 메뉴바와 간격 */
.content {
	margin-top:100px;
	/* 메뉴바 높이에 맞게 간격 추가 */
	padding:20px;
	width:80%;
	/* .container의 너비와 동일하게 설정 */
	max-width:1200px;
	/* 최대 너비 설정 */
	margin-left:auto;
	margin-right:auto;
}